Options -Indexes
RewriteEngine On

RewriteRule ^change/([^/]+?)/([^/]+?)/$ index.php?cmd=change&id=$1&string=$2 [L]
RewriteRule ^edit/([^/]+?)/[^/]+?/$ index.php?cmd=edit&id=$1 [L]
RewriteRule ^forum/([^/]+?)/[^/]+?/$ index.php?cmd=forum&id=$1 [L]
RewriteRule ^forum/([^/]+?)/[^/]+?/([^/]+?)/$ index.php?cmd=forum&id=$1&start=$2 [L]
RewriteRule ^forum/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/$ index.php?cmd=forum&id=$1&start=$2&limit=$3 [L]
RewriteRule ^forum/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=forum&id=$1&start=$2&limit=$3&order=$4 [L]
RewriteRule ^forum/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=forum&id=$1&start=$2&limit=$3&order=$4&check=$5 [L]
RewriteRule ^forum/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=forum&id=$1&start=$2&limit=$3&order=$4&check=$5&search=$6 [L]
RewriteRule ^logout/([^/]+?)/$ index.php?cmd=logout&index=$1 [L]
RewriteRule ^lostpassword/$ index.php?cmd=lostpassword [L]
RewriteRule ^lostpassword/([^/]+?)/([^/]+?)/$ index.php?cmd=lostpassword&id=$1&string=$2 [L]
RewriteRule ^members/$ index.php?cmd=members [L]
RewriteRule ^members/([^/]+?)/$ index.php?cmd=members&start=$1 [L]
RewriteRule ^members/([^/]+?)/([^/]+?)/$ index.php?cmd=members&start=$1&limit=$2 [L]
RewriteRule ^members/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=members&start=$1&limit=$2&order=$2 [L]
RewriteRule ^members/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=members&start=$1&limit=$2&order=$3&check=$4 [L]
RewriteRule ^members/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=members&start=$1&limit=$2&order=$3&check=$4&search=$5 [L]
RewriteRule ^newreply/([^/]+?)/[^/]+?/$ index.php?cmd=newreply&id=$1 [L]
RewriteRule ^newreply/([^/]+?)/[^/]+?/([^/]+?)/$ index.php?cmd=newreply&id=$1&post=$2 [L]
RewriteRule ^newtopic/([^/]+?)/[^/]+?/$ index.php?cmd=newtopic&id=$1 [L]
RewriteRule ^notes/$ index.php?cmd=notes [L]
RewriteRule ^profile/([^/]+?)/[^/]+?/$ index.php?cmd=profile&id=$1 [L]
RewriteRule ^recache/$ index.php?cmd=recache [L]
RewriteRule ^register/$ index.php?cmd=register [L]
RewriteRule ^subscribe/([^/]+?)/[^/]+?/$ index.php?cmd=subscribe&id=$1 [L]
RewriteRule ^topic/([^/]+?)/[^/]+?/$ index.php?cmd=topic&id=$1 [L]
RewriteRule ^topic/([^/]+?)/[^/]+?/([^/]+?)/$ index.php?cmd=topic&id=$1&start=$2 [L]
RewriteRule ^topic/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/$ index.php?cmd=topic&id=$1&start=$2&limit=$3 [L]
RewriteRule ^topic/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=topic&id=$1&start=$2&limit=$3&order=$4 [L]
RewriteRule ^topic/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=topic&id=$1&start=$2&limit=$3&order=$4&check=$5 [L]
RewriteRule ^topic/([^/]+?)/[^/]+?/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/([^/]+?)/$ index.php?cmd=topic&id=$1&start=$2&limit=$3&order=$4&check=$5&search=$6 [L]
RewriteRule ^validate/([^/]+?)/([^/]+?)/$ index.php?cmd=validate&email=$1&string=$2 [L]